.col-sm-12 {
    background-color: #000;
}

.col-6-sm {
    background-color: #333;
}

h1, h2 {
    color: red;
    font-style: italic;
}

body {
    background-color: skyblue;
}
main {
    min-height: 100vh;
}

section {
    background-color: #fff;
    color: #333;
    padding: 0.5em;
}

ul, li {
    list-style: none;
}

li::before {
    content: '- ';
    font-weight: bold;
}